Flask==0.9
Flask-Assets==0.8
Flask-Script==0.5.3
Jinja2==2.6
URLObject==2.3.1
Werkzeug==0.8.3
boto==2.8.0
pyScss==1.1.4
ipython==0.13.1
readline==6.2.4.1
webassets==0.8
wsgiref==0.1.2
yuicompressor==2.4.7
