html {
    color: #2F58BE;
    background-color: #EEEDEC;
    text-align: center;
}
h1 {
    font-size: 80px;
    padding: 0;
    margin: 50px 0 0 0;
}
h5 {
    font-size: 12px;
    padding: 0;
    margin: 0;
}
